@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTTYPE html>
    <head>
        <title>Contact | Invax</title>
    </head>
    <body>
        <h1>Contact Us</h1>

        <section class="contact-section my-5">
            <div class="card">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card-body form">
                            <p>Invax thrives to provide the most reliable solutions for your business. Please fill out the following form and our customer support will handle your request as soon as possible.</p>
                            <div class="row">
                                <form method="post">
                                    <label name="FirstName">First Name:</label>
                                    <input type="text" name="FirstName" />

                                    <label name="LastName">Last Name:</label>
                                    <input type="text" name="LastName" />

                                    <label name="Email">Email:</label>
                                    <input type="text" name="Email" />

                                    <label name="Category">Message Category:</label>
                                    <input type="text" name="Category" />

                                    <label name="Message">Message:</label>
                                    <input type="text" name="Message" />

                                    <button type="submit">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card-body contact text-center h-100 white-text">

                            <h3 class="my-4 pb-2">Contact information</h3>
                            <ul class="text-lg-left list-unstyled ml-4">
                                <li>
                                    <p><i class="fas fa-map-marker-alt pr-2"></i>New York, 94126, USA</p>
                                </li>
                                <li>
                                    <p><i class="fas fa-phone pr-2"></i>+ 01 234 567 89</p>
                                </li>
                                <li>
                                    <p><i class="fas fa-envelope pr-2"></i>contact@example.com</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
